.form-field{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.input-form input{
    display: block;
    width: 400px;
    height: 40px;
}
.input-form textarea{
    display: block;
    width: 400px;
    height: 40px;
}
.input-form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.input-form p{
    color: red;
    font-size: large;
    font:bold
}
.input-form label{
    color: black;
    font-weight: bold;
    font-size: large;
    
    margin-top: 10px;
}