.header-container {
    display: flex;

}

.header-container a {
    margin: 10px;
    color: black;
    font-size: larger;
    font-style: oblique;
}

.header-container a:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}